body {
	border:5px solid #800000;
	margin:0 auto;
	width: 780px;
	padding: 20px;

}

p {
font-family: 'Lato', sans-serif;
font-family: 'Bellefair', serif;

}
p:nth-of-type(1) {
	border-left-style: solid;
	padding: 5px;
}
p:nth-of-type(3) {
	border-left-style: solid;
	padding: 5px;
}

h2 {
	color: #800000;
}

.font {
	font-family: 'Lato', sans-serif;
	font-family: 'Bellefair', serif;
	font-family: 'Lemonada', cursive;
}