h3 {
  font-family: 'Dosis';
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300
}

h1 {
  font-family: 'Fira Sans';
}

p {
  font-family: 'Fira Sans';
}

hr {
  margin-top: 20px;
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))
}

.first-article {
  margin-bottom: 50px;
}

.p-wrap p:nth-of-type(1){
  
  border-left: 5px solid gray;
  padding-left: 10px;
  font-family: 'Fira Sans';
}

body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  
}

.page {
  max-width: 600px;
  border: 15px solid gray;
  padding: 20px;
}