body{
	margin: auto;
	padding: 0;
	background-color: white;
}
header{
	width: 100%
	height:100%;
	background: linear-gradient(to right, #1e130c, #9a8478);
	color: white;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}
h1{
	text-align: center;
	font-family: "Dosis";
	margin: 10;
	padding: 0;
}
nav{
	background: white;
	height:50px;
	background-color: #ac8371;
	margin-bottom: 15px;
}
button{
	height: 35px;
	color:white;
	margin: 10px;
	font-family: 'Neucha', cursive;
	font-size: 20px;
	background-color: #3f0000;
}
.right{
	float: right;
}
.actionButton{
	padding: 3px 20px;
  	border: 20px;
  	border: 10px;
}
.actionButton:hover{
	background-color: #ac8371;
  	color: white;
}
#rgb{
	font-family: "Bellefair";
}
.container {
 	max-width: 600px;
  	margin: 0 auto;
}
.patrat{
	width:30%;
  	padding-bottom: 30%;
  	float: left;
  	margin: 10px;
  	border-radius: 30px;
}
#p1{
	background-color: #16a085;
}
#p2{
	background-color: #26a65b;
}
#p3{
	background-color: #1ba39c;
}
#p4{
	background-color: #66cc99;
}
#p5{
	background-color: #1E824C;
}
#p6{
	background-color: #4daf7c; 
}

div.patrat:hover{
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}
#footer{
	text-align: center;
	background: linear-gradient(to right, #1e130c, #9a8478);
	position: absolute;
  	right: 0;
 	bottom: 0;
  	left: 0;
  	padding: 1rem;
  	border-top: 10px;
  	font-size: 10px;
 }
p{
	margin: 0;
	padding: 0;
	font-family: "Open+Sans+Condensed";
	color: white;
	font-size: 35px;
	text-align: center;
}

#footer p:nth-of-type(1) {
    font-size:20px;
}
