body {
	background-color:;
	margin:0;
	background: darkslategray;
	font-family: "Lucida Bright";

}

h1 {
	color:grey;
	text-align: center;
	font-weight: normal;
	background-color:rgb(0, 191, 255);
	line-height: 1.1;
	margin:0;
	padding: 15px;

}

#rgb {
	font-size: 120%;
}

#panel {
	background-color:white;
	text-align: center;
	height: 30px;
}

button {
	border:none;
	height: 100%;
	text-transform:uppercase;
	color:gray;
	font-weight: 700;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	font-size: inherit;
	outline: none;
	width:200px;
	

}

button:hover {
	color:black;
	background-color:#0080ff;
}

.patrat {

	float:left;
	height: 170px;
	width: 30%;
	margin:1.66%;
	background:#0080ff;
	border-radius: 15%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
} 

#container {
	margin:18px auto;
	max-width: 600px;
}

.patrat:hover {
	color:white;
	background-color:white;
}

#animatie {
	display: inline-block;
	width: 20%;
}

.select {
	background: steelblue;
	color: white;
}

#footer {
    position:absolute;
    bottom:0px;
    width: 100%;
    margin: 0;
    background-color:white;
    height: 30px;
    color:gray;
    text-align: center;
    font-weight: bold;
}