body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.kill {
  color: blue;
  font-size: 24px;
  list-style-type: none;
}

.tedeus {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#center-th {
  text-align: center;
}