@import url("https://fonts.googleapis.com/css?family=Roboto");
nav#navigation ul.menu {
  list-style-type: none;
  width: 50%;
  margin: 5px auto;
  display: flex;
  justify-content: space-around; }
  nav#navigation ul.menu li {
    line-height: 2;
    margin-right: 10px;
    font-weight: bolder;
    text-decoration: none; }
    nav#navigation ul.menu li a {
      text-decoration: none;
      color: black; }
  nav#navigation ul.menu li a:hover {
    transition: all ease-in-out 0.5s;
    color: limegreen; }

body {
  font-family: 'Roboto', sans-serif;
  background: -webkit-linear-gradient(#606c88 0%, #3f4c6b 100%);
  background: -o-linear-gradient(#606c88 0%, #3f4c6b 100%);
  background: linear-gradient(#606c88 0%, #3f4c6b 100%); }
  body p {
    text-align: justify;
    padding: 15px;
    font-size: 15px; }

h1 {
  text-align: center;
  font-size: 72px;
  font-weight: bold; }

div.wrapper {
  width: 70%;
  background-color: white;
  margin: 0 auto;
  box-shadow: 3px 3px 5px black;
  padding: 10px; }

footer#footer {
  color: white;
  margin-top: 10px;
  text-align: center; }

div.flexContainer {
  display: flex;
  justify-content: space-around; }
  div.flexContainer p {
    text-align: justify;
    padding: 15px; }

div.flexBoxes h4 {
  text-align: center;
  font-size: 36px; }

table#mainTable {
  border: 1px solid black;
  margin: 0 auto;
  background: linear-gradient(grey 0%, black 100%);
  color: limegreen;
  box-shadow: 1px 1px 10px black;
  border-collapse: collapse;
  width: 50%;
  text-align: center;
  vertical-align: middle; }
  table#mainTable tr, table#mainTable td {
    padding: 10px; }
  table#mainTable td:hover {
    transform: scale(1.2);
    text-shadow: 1px 1px 1px black; }
  table#mainTable tr:nth-of-type(2) {
    color: aqua;
    background-color: grey;
    text-align: right; }
    table#mainTable tr:nth-of-type(2) td:nth-of-type(4) {
      color: orange; }
  table#mainTable tr:nth-of-type(4) {
    color: yellow;
    background-color: Chocolate;
    text-align: left; }

button.testButton {
  display: block;
  margin: 20px auto;
  padding: 5px;
  font-size: 24px; }
  button.testButton:hover {
    box-shadow: 1px 1px 5px black;
    color: DarkSlateGrey; }
