body{
	/*background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU-Vvs57zEiAVDYZ4Exdiy-CjUNSqGoI8R8i8tbLIFMwa08gcmiXabezc");
	background-repeat: no-repeat;
	background-size: cover;*/
}
li{
	color: mistyrose;
	/*border-width: 2px;
	border-style: solid;
	border-color: darkorchid;*/
	border: 2px solid darkorchid;
}
h1{
	color: rgba(0,255,0,0.3);
}