extends default

block content

  include templates/nav


  div(class=['ui','container','grid','stackable'])
    div(class=['ten','wide','column'])

      h2(class=['ui','header','blue'])= 'Welcome to CRUD with NodeJS, ExpressJS and MySQL'


