@import url('https://fonts.googleapis.com/css?family=Righteous|Bree+Serif|Fredoka+One|VT323');

body, div, span, applet, object, iframe,
h1, table, caption, tbody, tfoot, thead, tr, th, td,
article {
	margin: 0;
	padding: 0;
}

html{
  min-width: 510px;
  width: 100%;
  margin: 0 auto;
  background-color: #00DBDE;
  background-image: -o-linear-gradient(left, #00DBDE 0%, #FC00FF 100%);
  background-image: linear-gradient(to right, #00DBDE 0%, #FC00FF 100%);
  padding: 0;
}

h1.clgTitle{
  user-select: none;
  padding: 0;
  font-size: 4em;
  font-family: 'Bree Serif', serif;
  letter-spacing: 5px;
  text-align: center;
  color: rgb(244, 208, 63);

  text-shadow: 0 0 1px black;
}

h2{
  letter-spacing: 5px;
  text-align: center;
  font-family: 'Righteous', cursive;
  text-shadow: 0 0 10px black;
}

span.redR{
  color: rgb(255,0,0);
  font-size: 1.3em;
}

span.greenG{
  color: rgb(0, 255, 0);
  font-size: 1.3em;
}

span.blueB{
  color:rgb(0, 0, 255);
  font-size: 1.3em;
}

h2 span.valRGB{
  letter-spacing: 10px;
  color: rgb(255, 255, 255);
}

ul{
  margin:0;
  padding: 0;
}

ul li.clgStart{
  cursor: pointer;
  user-select:none;
  display: block;
  width: 160px;
  margin: 1% auto;
  border-radius: 10px;
  color: LightGreen;
  font-size: 1.5em;
  font-family: 'VT323', monospace;
  line-height: 2;
  text-align: center;
  list-style-type: none;
  background-color: #21D4FD;
  background-image: -webkit-linear-gradient(289deg, #21D4FD 0%, #B721FF 100%);
  background-image: -o-linear-gradient(289deg, #21D4FD 0%, #B721FF 100%);
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

ul li.clgStart:hover{
  transform: scale(1.1);
  text-shadow: 1px 1px 1px black;
  transition: all 0.5s cubic-bezier(0.82, -0.96, 0.2, 1);
  background-color: #8EC5FC;
  background-image: -webkit-linear-gradient(332deg, #8EC5FC 0%, #E0C3FC 100%);
  background-image: -o-linear-gradient(332deg, #8EC5FC 0%, #E0C3FC 100%);
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

ul li.clgStart:active{
  transform: scale(0.98);
  transition: all 0.5s ease-in-out;
}

table{
  margin: 3% auto;
  border-collapse:separate;
}

td{
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 5px;
  background-color: rgba(0,0,0, 0.2);
  border-radius: 10px;
}

td:hover{
  transform: scale(1);
  background-color: #FEE140;
  background-image: -webkit-linear-gradient(25deg, #FEE140 0%, #FA709A 100%);
  background-image: -o-linear-gradient(25deg, #FEE140 0%, #FA709A 100%);
  background-image: linear-gradient(115deg, #FEE140 0%, #FA709A 100%);
  transition: all 1s ease-in-out;
}

td:active{
  transform: scale(0.9);
  background-color: #FEE140;
  background-image: -webkit-linear-gradient(left, #FEE140 0%, #FA709A 100%);
  background-image: -o-linear-gradient(left, #FEE140 0%, #FA709A 100%);
  background-image: linear-gradient(to right, #FEE140 0%, #FA709A 100%);
  transition: all 0.2s ease-in-out;
}

footer{
  line-height: 2;
  font-family: 'Fredoka One', cursive;
  user-select: none;
  text-align: center;
  text-shadow: 1px 0 0 gray;
}

footer span.versionNumber{
  color: rgb(255, 0, 0);
}
