body{
	font-family: 'Sedgwick Ave Display', cursive;
}

#box {
	width: 200px;
	height: 200px;
	background-color: red;
	display: none;
	border-radius: 125px;
}

.header{
	/*background-color: rgb(129, 141, 201);*/
	text-align : center;
	width: auto;
	height: 30px;
	margin: 0px;
}

.navigation{
	list-style: none;
	width: auto;
	height: 50px;
	background-color: pink;
	border-radius: 20px;

}

.navigation a{
	float: left;
	margin-right: 30px;
	background-color: white;
	color: red;
	padding: 7px;
	margin-top: 7px;
	border: 2px solid red;
	border-radius: 30px;
}

.navigation a:hover{
	background-color: red;
	color: white;
}
