div(class=['ui', 'pointing', 'menu'])
    a(class='item' href='http://localhost:3000/')= 'Home'
    a(class='item' href='http://localhost:3000/new')= 'New Product'
    a(class='item' href='http://localhost:3000/products')= 'Products'
    div(class=['right','menu'])
        div.item
            div(class=['ui','transparent','icon','input'])
                input(type='text' placeholder='Search...')
                i(class=['search','link','icon'])

