header {
	background: blue;
	height: 100px;
  opacity: 0.7;
}

/*daca ii pun si "margin: 0 auto;" tot header-ul se muta putin mai sus si arata mai bine :D */
header h1 {
	margin: 0 auto;
	text-align: center;
}

#difficulty {
  float: left;
  font-size: 30px;
}

#navbar {
  width: 400px;
  margin: 0 auto;
}

nav {
  background-color: red;
  opacity: 0.7;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 3px;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 13px;

  position: relative;
}

nav a {
  color: #C6C6C6;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: white;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: white;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}