header {
	height: 100px;
  opacity: 0.7;
}

/*fara "margi: 0 auto" h2 se duce in navbar  !!!????*/
header h1 {
	margin: 0 auto;
	text-align: center;
}

h2 {
  text-align: center;
  font-size: 25px;
  margin-top: 0px;
}

nav {
  background-color: #010c14;
  opacity: 0.7;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 3px;
}

nav li {
  display: inline-block;
  margin-left: 615px;
  padding-top: 13px;

  position: relative;
}

nav a {
  color: #C6C6C6;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: white;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: white;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}